@model ASP.NET_MVC_Test.Models.tblProductCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblProductCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatObservacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatObservacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
